/*

# files
!LICENSE
!poetry.lock
!py2devtools.py
!pyproject.toml
!README.md
!setup.py
!stacksampler.py

# test files
!yeet.py
!yote.py

# folders
!images/
!stackcollector/
!tests/

# reignore
__pycache__
*.egg-info
